.button {
  font-family: $body-font;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: $body-font-size;
  font-weight: 600;
  display: inline-block;

  &--primary {
    background-color: $green;
    color: white;

    &.button--outline {
      border-color: $green;
      color: $green;
      background-color: white;
    }
  }

  &--outline {
    border: 2px solid $grey-200;
  }
}