@mixin dropdown-items {
  padding: 1rem 0;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  z-index: 10;
  text-align: left;
  position: absolute;
  top: 2rem;
  left: 0;
  background-color: white;
  width: 100%;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
}

@mixin dropdown-item {
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  user-select: none;
  color: $black;
  display: block;
  width: 100%;

  &:hover {
    background-color: $grey-100;
  }

  &.disabled {
    pointer-events: none;
    background-color: $grey-200;
    color: $grey-500;
  }

  &.active {
    background-color: $grey-150;
    font-weight: 600;
  }
}

.dropdown {
  position: relative;
  border-radius: 50px;
  border: 1px solid $grey-200;
  display: inline-flex;
  padding: 0.5rem 1rem;

  &.dropdown--filled {
    background-color: $grey-150;
    border-color: $grey-150;

    .dropdown__target {
      color: $black;

      .material-icons {
        color: $grey-500;
      }
    }
  }

  .material-icons { 
    color: $green;
  }

  &.dropdown--static-width {
    @include breakpoint-up('sm') {
      .dropdown__items {
        width: 150px;
      }
    }
  }

  &.dropdown--primary {
    .dropdown__items {
      .dropdown__item {
        color: $green-400;
        &:hover {
          background-color: $green-100;
        }

        &.active {
          background-color: $green-200;
        }
      }
    }
  }

  &__target {
    display: inline-flex;
    align-items: center;
    background-color: inherit;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: inherit;
    font-weight: 600;
    width: 100%;

    .material-icons {
      margin-left: 0.5rem;
    }
  }

  &__text {
    flex: 1;
    text-align: left;
  }
  
  &__items {
    font-size: $body-font-size;
    @include dropdown-items;

    .dropdown__item {
      @include dropdown-item;
    }
  }

  &.dropdown--right {
    .dropdown__items {
      left: unset;
      right: 0;
    }
  }
}

.region-select {
  border-radius: 50px;
  border: 1px solid $grey-200;
  display: flex;
  padding: 0.5rem 1rem;
  position: relative;

  &__button {
    background-color: inherit;
    border: 0;
    display: flex;
    align-items: center;
    outline: 0;
    cursor: pointer;
  }

  &__options {
    list-style: none;
    padding: 0;
    @include dropdown-items;
  }

  &__option {
    @include dropdown-item;
  }

  .material-icons {
    color: $green;
    margin-right: 0.3rem;
  }

  select {
    border: 0;
    width: 100%;
    
    &, option {
      font-size: inherit;
    }
    
    &:focus {
      outline: 0;
    }
  }
}