:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  margin: 0;
  font-size: $body-font-size;
  color: $black;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
button {
  font-family: $body-font;
  font-size: inherit;
}

.text-with-icon {
  display: inline-flex;
  align-items: center;

  &--block {
    display: flex;
  }

  .material-icons {
    margin-right: 0.8rem;
  }
}

.main-content {
  background-color: white;
  min-height: 75vh;
  padding-bottom: 10rem;
}