@mixin breakpoint-up($size) {
  @if ($size == 'xs') {
    @media (min-width: 567px) {
      @content;
    }
  }
  @if ($size == 'sm') {
    @media (min-width: 767px) {
      @content;
    }
  }
  @if ($size == 'md') {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if ($size == 'lg') {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin breakpoint-down($size) {
  @if ($size == 'xs') {
    @media (max-width: 567px) {
      @content;
    }
  }
  @if ($size == 'sm') {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if ($size == 'md') {
    @media (max-width: 992px) {
      @content;
    }
  }
  @if ($size == 'lg') {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 2rem;

  @include breakpoint-up('sm') {
    max-width: 750px;
  }

  @include breakpoint-up('md') {
    max-width: 960px;
  }

  @include breakpoint-up('lg') {
    max-width: 1200px;
  }
}

.page-section {
  padding: 4rem 0 2rem;

  + .page-section {
    padding-top: 2rem;
  }

  &__header {
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
  }

  &__heading {
    flex: 1;
    font-size: 2.5rem;
  }
}

.d-flex {
  display: flex;
}

.flex-full {
  flex: 1;
}

.sticky {
  &--top {
    position: sticky;
    top: 0;
  }
}