h1,
h2,
h3 {
  font-family: $heading-font;
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: $main-heading-font-size;
}

h2 {
  font-size: $sub-heading-font-size;
}

h3 {
  font-size: $content-heading-font-size;
}

.subtitle {
  font-family: $heading-font;
  display: block;
  font-size: 2rem;
}

body {
  line-height: 1.5;
}

p {
  margin: 0 0 1.5rem 0;
}