.home {
  .hero-section {
    height: 60vh;
    width: 100%;
    background-color: pink;
    background-image: url(../assets/hero-image.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;

    &__heading {
      display: inline-block;
      background-color: rgba($green-400, 0.85);
      padding: 2rem 2rem 3rem;
      margin-top: 10rem;

      h1 {
        margin-bottom: 1rem;
        color: white;
        font-size: 5rem;
      }

      .subtitle {
        margin: 0;
        color: $green-100;
      }
    }
  }

  .card-section {
    margin-top: -20rem;
  }

  .section {
    padding: 5rem 0;
  }
}