.home {
  background-color: #E5E6E2;
  .hero-section {
    height: 600px;
    width: 100%;
    background-color: $green;
    background-image: url(../assets/hero-image.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;

    &__heading {
      display: inline-block;
      background-color: rgba($green-400, 0.85);
      padding: 2rem;
      margin: 5rem 1rem 0;

      h1 {
        margin-bottom: 1rem;
        color: white;
        font-size: 4.5rem;
      }
    
      @include breakpoint-up('sm') {
        margin-top: 10rem;

        h1 {
          font-size: $page-heading-font-size;
        }
      }

      .subtitle {
        margin: 0;
        color: $green-100;
        font-weight: bold;
      }
    }
  }

  .card-section {
    margin-top: -30rem;
  }

  .map-section {
    .card.card--horizontal {
      .card__subject {
        min-height: 220px;
      }
      
      .button {
        margin-top: 1rem;
      }
    }
  }

  .card.card--horizontal {
    .card__subject {
      margin-bottom: 3rem;

      @include breakpoint-up('md') {
        min-width: 350px;
        max-width: 400px;
        margin-right: 4rem;
        margin-bottom: 0;
      }
    }
  }

  .section {
    padding: 5rem 0;
  }

  .newsletter-section {
    @include breakpoint-up ('md') {
      .card.card--horizontal .card__subject {
        margin-right: 0;
      }
    }

    .newsletter__signup {
      display: flex;
      flex-direction: column;

      input {
        margin-bottom: 0.5rem;
      }

      @include breakpoint-up('sm') {
        flex-direction: row;
      }

      .button {
        text-align: center;
      }
    }

    .card {

      .newsletter__signup {
        margin-top: 3rem;
        input {
          border-radius: 20px;
          border: 2px solid $grey-200;
          font-size: $body-large-font-size;
          padding: 1rem 2rem;
          flex: 1;
          outline-color: $green;
  
          @include breakpoint-up('sm') {
            margin-right: 1rem;
            margin-bottom: 0;
          }
        }

        .button {
          justify-content: center;
        }
      }
    }

    @include breakpoint-down('md') {
      .card {
        flex-direction: column-reverse;
      }
    }
  }

  .card {
    .card__header {
      text-align: center;
    }

    &:not(.card--large) {
      .card__body {
        padding-left: 1rem;
        padding-right: 1rem;
    
        @include breakpoint-up('lg') {
          padding-left: 3rem;
          padding-right: 3rem;
          height: 150px;
        }
      }
    }
  
  
    .card__footer {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}