.home {
  .hero-section {
    height: 60vh;
    width: 100%;
    background-color: pink;
    background-image: url(../assets/hero-image.jpeg);
    background-size: cover;
    background-position: center;
  }
}