.produce {
  .page-header {
    background-color: $green;
    color: white;
    padding: 2.5rem 0;

    .subtitle {
      color: $green-100;
      font-size: $body-font-size;
      margin-bottom: 1rem;
    }
  }

  .products-list {
    display: grid;
    display:-ms-grid;
    grid-gap: 2rem;

    @include breakpoint-up ('sm') {
      grid-template-columns: 1fr 1fr;
      -ms-grid-columns: 1fr 1fr;
    }

    @include breakpoint-up ('md') {
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-columns: 1fr 1fr 1fr;
    }

    .product-detail {
      color: $grey-500;
      p {
        margin: 0;
      }
    }
    
    .product-card {
      .card__subject {
        height: 200px;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 2rem;
      }
    }

    .product-card--upcoming {
      .card__subject {
        position: relative;

        span {
          color: white;
          text-transform: uppercase;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          letter-spacing: 0.2rem;
          width: 100%;
          font-size: 2rem;
          text-align: center;
          font-weight: 600;
        }

        &:before {
          content: '';
          text-transform: uppercase;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: inherit;
          background-color: rgba(black, 0.7);
          border-radius: 2rem;
        }
      }
    }
  }
}